### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [247]:
# Dependencies and Setup
import pandas as pd
import numpy as np 
import os

# File to Load (Remember to Change These)
school_data_to_load =  os.path.join ('Resources', 'schools_complete.csv')
student_data_to_load = os.path.join ('Resources', 'students_complete.csv')

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [248]:
#total number of schools
total_num_schools  = len(school_data_complete['School ID'].unique())
#students
total_num_students = len(school_data_complete ['Student ID'].unique())
#budget
total_school_budget = school_data['budget'].sum
#avergae math
average_math = student_data['math_score'].mean()
#average reading
average_reading = student_data['reading_score'].mean()
#percentage calculations
student_data['passing_math'] = student_data['math_score'] >= 70
student_data['passing_reading'] = student_data['reading_score']>= 70
passing_math = ((student_data['passing_math']).mean())*100
passing_reading =  ((student_data['passing_reading']).mean())*100
#overall passing percent- add/2
overall_passing = (passing_math + passing_reading)/ 2

district_res = {
'Total Schools' : total_num_schools,
'Total Students' :total_num_students,
'Total Budget' : total_school_budget,
'Average Math Score': average_math,
'Average Reading Score': average_reading,
'% Passing Math': passing_math,
'% Passing Reading': passing_reading,
'% Overall Passing Rate': [overall_passing],
}
#show district summary results
district_overview = pd.DataFrame(district_res)
district_overview.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,<bound method Series.sum of 0 1910635\n1 ...,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
#we need to utilize groupby
school_grouped = school_data_complete.groupby(['school_name']).mean()
school_grouped['Per Student Budget'] = school_grouped['budget']/school_grouped['size']
school_grouped['% Passing Math'] = school_grouped['passing_math']* 100
school_grouped['% Passing Reading'] = school_grouped['passing_reading']*100
school_grouped['% Overall Passing Rate'] = ((school_grouped['passing_math'] + school_grouped['passing_reading'])/2)*100
               
school_overview = pd.merge(school_grouped,school_data,how="left", on=["school_name", "school_name"])
del school_overview['size_y']
del school_overview['budget_y']
del school_overview['Student ID']
del school_overview['School ID_x']            
school_res =  {
                                  'School Name': school_overview['school_name'],
                                  'School Type': school_overview['type'],
                                  'Total Students': school_overview['size_x'],
                                  'Total School Budget': school_overview['budget_x'],
                                  'Per Student Budget': school_overview['Per Student Budget'],
                                   'Average Math Score': school_overview['math_score'],
                                   'Average Reading': school_overview['reading_score'],
                                   '% Passing Math' : school_overview['% Passing Math'],
                                   '% Passing Reading' : school_overview['% Passing Reading'],
                                                                                        }
#dataframe and then show results
school_res_data = pd.DataFrame(school_res)
school_res_data

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
top_performing = school_res_data.sort_values(['% Overall Passing Rate'],ascending =False)
top_performing.head(5)

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
bottom_performing = school_res_data.sort_values(['% Overall Passing Rate’])
bottom_performing.head(5)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [251]:
#use groupby, conditional
#9th grade
average_math_9 = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['math_score'].mean()
#10th grade
average_math_10 = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['math_score'].mean()
#11th grade
average_math_11 = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['math_score'].mean()
#12th grade
average_math_12 = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['math_score'].mean()

math_summary = {
'9th':average_math_9,
'10th':average_math_10,
'11th':average_math_11, 
'12th':average_math_12,}
#show results
math_scores = pd.DataFrame(math_summary)
math_scores.head(16)

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [252]:
#use groupby and conditional
#9th grade
average_reading_9= school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
#10th grade
average_reading_10 = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
#11th grade
average_reading_11 = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
#12th grade
average_reading_12 = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

reading_summary = {
'9th':average_reading_9,
'10th':average_reading_10,
'11th':average_reading_11, 
'12th':average_reading_12,}
#show results
reading_scores = pd.DataFrame(reading_summary)
reading_scores.head(16)

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
#create bins
bins = [0,585,615,645,675]
group_tag = ['<585' , '585-615' , '615-645' , '645-675']
school_overview['Spending Ranges (Per Student)'] = pd.cut(school_overview['Per Student Budget'], 
bins, labels=group_tag )

spend_grouped = school_overview.groupby('Spending Ranges (Per Student)').mean()

del spend_grouped['Per Student Budget']
del spend_grouped['passing_math']
del spend_grouped['passing_reading']
#show results
spend_grouped.head()

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
#create bins
bins_two = [0,1000,2000,6000]
group_tag = ['Small (<1000) ', 'Med(1000-2000)', 'Large(2000-6000)']
school_overview['School Size'] = pd.cut(school_overview['size_x'], bins_two, labels = group_tag)
#use groupby
size_grouped = school_overview.groupby('School Size').mean()

del size_grouped['size_x']
del size_grouped['Per Student Budget']
del size_grouped['passing_math']
del size_grouped['passing_reading']
#show results
size_grouped.head()

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
#use groupby to determine school type scores
type_grouped = school_overview.groupby('type').mean()
#show what is required and delete other ones
del type_grouped['size_x']
del type_grouped['passing_math']
del type_grouped['passing_reading']
#show results
type_grouped.head()